/* Impostazioni Generali */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_principale{
    margin: 5% auto;
    width: 80%;
    /* regole di debug */
    height: 700px;
    background-color: blue;
}

/* Regole generali  */
.header, .main, .first_msection{
    margin-bottom: 10px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
} 

/* header  */
.header{
    /* regole di debug */
    height: 50px;
    background-color: blueviolet;
}


/* main */
.main{
     /* regole di debug */
     background-color: rgb(43, 226, 89);
}
.first_msection{
    /* regole di debug  */
    height: 150px;
    background-color: brown;
}
.second_msection{
    /* regole di debug  */
    height: 300px;
    background-color: darkolivegreen;
}

.titolo_sezione2{
    margin-bottom: 10%;
    /* regole di debug  */
    height: 20%;
    background-color: deepskyblue;
}
.container_secondsection{
    /* regole di debug  */
    height: 70%;
    background-color: deeppink;
}
.lati_principale{
    float: left;
    /* regole di debug  */
    width: 20%;
    height: 15%;
    background-color: dimgray;
}
/* #left, .lati_principale{
    float: left;
}
#right, .lati_principale{
    float: left;
} */
.principale{
    
    margin: 0 5%;
    /* regole di debug  */
    width: 50%;
    height: 50%;
    background-color: lightgrey;
    float: left;
}

/* footer  */
.footer{
     /* regole di debug */
     height: 50px;
     background-color: rgb(226, 147, 43);
}


